@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  margin: 0;
}


/* navbar */

header {
  background-color:#feeeee;
}

header nav {
  margin: 0 70px;
}

header nav h1 {
  font-size: xx-large;
  display: inline-block;
  float: left;
  color: #b34592;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #feeeee;
}

header nav ul li {
  display: inline;
  float: right;
  margin: 20px 0;
}

header nav ul li a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: small;
  color: #636466;
}

header nav ul li a:hover {
  color: #f16079;
}

header nav ul li button {
  margin: 15px 0;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #b34592;
  color: #feeeee;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

header nav ul li button:hover,
header nav ul li button:focus {
  background: #b34592;
  color: #feeeee;
}

header nav ul li button:focus {
  outline: 1px solid #feeeee;
  outline-offset: -4px;
}

header nav ul li button:active {
  transform: scale(0.99);
}
header nav ul li button span{
  display: none;
  border: 1px solid #feeeee;
  border-radius: 25px;
  padding: 4px;
}

header nav ul li p {
  display: none;
  margin-left: 30px;
  color: #636466;
}

header nav ul li p span {
  color: #b34592;
}

/* Welcome Section */

.welcome-container {
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
}

.welcome-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.welcome-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome-content h2 {
  font-size: 3.5rem;
  margin: 0;
}
.welcome-content p {
  margin: 15px 0;
  padding: 0;
  font-size: 1.5rem;
}

.welcome-button {
  margin: 15px 0;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #feeeee;
  color: #636466;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.welcome-button:hover,
.welcome-button:focus {
  background: #b34592;
  color: #feeeee;
}

.welcome-button:focus {
  outline: 1px solid #feeeee;
  outline-offset: -4px;
}

.welcome-button:active {
  transform: scale(0.99);
}

/* A breif Section */

.breif-container {
  margin: 0 130px;
}

.breif-title {
  color: #f16079;
  font-size: 2.5rem;
  margin: 60px 0 10px 0;
  padding: 0;
}
.breif-paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  color: #636466;
}

.breif-paragraph1 {
  margin-right: 30px;
  line-height: 25px;
}

.breif-paragraph2 {
  margin-left: 30px;
  line-height: 25px;
}

.flex-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.block-style {
  width: 50vw;
}

/* Featured Product Section */

.Product-add-button{
  float: right;
  margin-right: 50px;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  background: #636466;
  color: #feeeee;
  text-transform: uppercase;
  font-size: 9pt;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}



.Product-add-button:hover,
.Product-add-button:focus {
  background: #636466;
  color: #feeeee;
}

.Product-add-button:focus {
  outline: 1px solid #feeeee;
  outline-offset: -4px;
}

.Product-add-button:active {
  transform: scale(0.99);
}


.Product-container {
  margin: 0 130px;
}
.bg-light-rose {
  background-color: #feeeee;
  padding: 60px 0;
}

.Product-title {
  font-size: 3.5rem;
  text-align: center;
  color: #f16079;
  font-size: 2.5rem;
  margin-bottom: 10px;
  padding: 0;
}

.Product-subtitle {
  text-align: center;
  margin: 0 0 30px 0;
  padding: 0;
  color: #636466;
}

.Product-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 30px;

}

.Product-img {
  position: relative;
  left: 0;
  top: 0;
  width: 350px;
  height: 450px;
  object-fit: cover;
  box-sizing: border-box;
}

.Product-list li h3 {
  color: #636466;
}
.Product-list li h3 span{
  color: #feeeee;
  background-color: #f16079;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
}

.Product-list li p {
  color: #636466;
}

.Product-button{
    margin: 15px 0;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #b34592;
    color: #feeeee;
    text-transform: uppercase;
    font-size: 9pt;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  
  .Product-button:hover,
  .Product-button:focus {
    background: #b34592;
    color: #feeeee;
  }
  
  .Product-button:focus {
    outline: 1px solid #feeeee;
    outline-offset: -4px;
  }
  
  .Product-button:active {
    transform: scale(0.99);
  }


/* Newsletter Section */
.Newsletter-container {
  margin: 0 130px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.Newsletter-title {
  font-size: 3.5rem;
  text-align: center;
  color: #f16079;
  font-size: 2.5rem;
  margin-bottom: 10px;
  padding: 0;
}

.Newsletter-subtitle {
  text-align: center;
  margin: 0 0 30px 0;
  padding: 0;
  color: #636466;
}

.Newsletter-form {
  display: flex;
  justify-content: center;
}

.Newsletter-form button {
  margin: 15px 0;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #b34592;
  color: #feeeee;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}



.Newsletter-form button:hover,
.Newsletter-form button:focus {
  background: #b34592;
  color: #feeeee;
}

.Newsletter-form button:focus {
  outline: 1px solid #feeeee;
  outline-offset: -4px;
}

.Newsletter-form button:active {
  transform: scale(0.99);
}

.Newsletter-form input {
  width: 300px;
  padding: 1rem 2rem;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

/* footer section */

footer{
  text-align: center;
  padding: 15px;
  color: #feeeee;
  background-color:#f16079 ;
}